{% extends "base.html" %}

{% block title %}注册用户{% endblock %}

{% block content %}
<h1>注册用户</h1>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<form class="form-box" method="post">
    <p>
        用户名：<br>
        <input type="text" name="username">
    </p>

    <p>
        密码：<br>
        <input type="password" name="password">
    </p>

    <p>
        确认密码：<br>
        <input type="password" name="confirm_password">
    </p>

    <button class="btn" type="submit">注册</button>
    <a class="btn btn-gray" href="/login">返回登录</a>
</form>
{% endblock %}